<style>
    .NameUpdate {
        display: block;
        width: 300px;
        position: absolute;
        top: 20%;
        left: 40%;
    }

    #NameUpdateInput {
        padding: 8px;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    #NameUpdateButton {
        padding: 10px;
        background-color: rgb(209, 3, 3);
        color: white;
        border: none;
        border-radius: 3px;
    }

    #NameUpdateButton:hover {
        background-color: red;
        cursor: pointer;
    }

    @media screen and (max-width: 700px) {
        
        .NameUpdate {
            position: absolute;
            height: auto;
            top: auto;
            left: auto;
        }
    }

</style>

<!-- Extend Layout -->
{% extends "PanelLayout.html" %}
{% block body %}

    <div class="NameUpdate">
        
        <p><strong>{{user.users_user_name}}</strong> Kullanıcısı Parola Değişitirme:</p>

        <form action="" method="POST">

                <input id="NameUpdateInput" name="OldPassword" type="text" placeholder="Eski Parolanız">

                <input id="NameUpdateInput" name="NewPassword" type="text" placeholder="Yeni Parola">

                <input id="NameUpdateInput" name="ConfirmPassword" type="text" placeholder="Parolanızı Onaylayın">

                <input id="NameUpdateButton" type="submit" value="Güncelle">       
        </form>
    </div>
    

{% endblock %}